doctype 5
html
  head
    link(rel='stylesheet', href='/static/index.css')
    title ECE361 Set Game Project
  body
    div#stylized.myform
      form#form(name="register",method="POST")
        h1 ECE361 Set Game
          img(src='/static/Cooper-Union-Logo.gif')
        p Andrew, Jason, Jordan, Nick, Victor
        if (notify != "")
          div(class="notify")= notify
        if (error != "")
          div(class="error")= error
        div.spacer
        h3 Register
        label
          | Username:
          span.small new username
        input#name(type='text',name='username')
        label
          | Password:
          span.small new password
        input#email(type='password',name='password')
        button(type='submit') Register
      form#changepassword(name="changepassword",method="POST")
        h3 Change Password
        label
          | Username:
          span.small current username
        input(type='text',name='username')
        label
          | Password:
          span.small current password
        input(type='password',name='password')
        label
          | New Password:
          span.small new password
        input(type='password',name='newpassword')
        button(type='submit') Change Password
      h3 Top 25 (by games won)
      table(border=1)
        tr
          th Username
          th Games Played
          th Games Won
          th Sets Correct %
        if scores
          for score in scores
            tr
              td #{score.username}
              td #{score.played}
              td #{score.won}
              td #{score.correct}
